image: ghcr.io/cirruslabs/flutter:3.22.2

stages:
  - build
  - deploy

cache:
  paths:
    - .pub-cache

build:
  stage: build
  script:
    - flutter pub get
    - flutter build web
  artifacts:
    paths:
      - build/web
    expire_in: 1 week

pages:
  stage: deploy
  script:
    - mv build/web public
  artifacts:
    paths:
      - public



buildFire:
  stage: build
  script:
    - flutter build web
  artifacts:
    paths:
      - build/web


deployFire:
  stage: deploy
  dependencies:
    - buildFire
  script:
    - firebase deploy --token $FIREBASE_TOKEN
